langkit/src/* no-precommit-check
testsuite/tests/*/*.ads no-precommit-check
testsuite/tests/*/*.adb no-precommit-check
testsuite/tests/*/*.gpr no-precommit-check
testsuite/tests/*/*/*.ads no-precommit-check
testsuite/tests/*/*/*.adb no-precommit-check
testsuite/tests/*/*/*.gpr no-precommit-check
