# Python artifacts
*.pyc

# Testsuite output
out
testsuite/out

.build
makefile.setup

/workspace

# Editor artifacts
*~
*.swp

# GnatStudio artifacts
.clang-format
.clangd

# Python binding artifacts
bindings/python/.coverage
bindings/python/.coveragerc
bindings/python/.tox
bindings/python/htmlcov
bindings/python/src/*egg*
