langkit/src/* no-precommit-check
langkit/quex/* no-precommit-check
langkit/quex/*/* no-precommit-check
langkit/quex/*/*/* no-precommit-check
langkit/quex/*/*/*/* no-precommit-check
langkit/quex/*/*/*/*/* no-precommit-check
langkit/quex/*/*/*/*/*/* no-precommit-check
langkit/quex/*/*/*/*/*/*/* no-precommit-check
testsuite/tests/* no-precommit-check
testsuite/tests/*/* no-precommit-check
testsuite/tests/*/* no-precommit-check
testsuite/tests/*/*/* no-precommit-check
testsuite/testsuite_support/__init__.py no-precommit-check
